*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    font-size: 100%;
}

body {
    background: #ccc;
}

.grid-container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

header {
    grid-column: 1 / 5;
    background: yellow;
}

nav {
    background: orange;
}

main {
    grid-column: 2 / 5;
    background: black;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    #section1 {
        grid-column: 1 / 2;
        background: blue;
    }

    #section2 {
        grid-column: 2 / 3;
        background: aqua;
    }
}

footer {
    grid-column: 1 / 5;
    background: red;
}
